{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0"/>
  {% load django_bootstrap5 %}

  <div class=" mx-5 my-3">
    <div class="container">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'reviews:index' %}">여행지</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="card text-bg-dark" style="width: 1000px;">
      <img style=" height: 450px;" src="{{ review.image.url }}" class="card-img" alt="...">
      <div class="card-img-overlay" style="margin-top:320px;">
        <h5 class="card-title">{{ review.title }}
          ({{ review.start_day|timesince:review.end_day }})</h5>
        <p class="card-text">{{ review.start_day}}
          ~
          {{ review.end_day }}
          <span class="crad-text badge rounded-pill text-bg-secondary">{{ review.themes }}</span>
        </p>
        <p class="card-text">
          <small>         
              <img style="width: 25px;" src="{% static 'images/heart.png' %}" alt="">
            <span style="color: white; position: absolute; font-size: 18px; margin-left: 02px; margin-top:0px;">{{ review.like.all | length  }}</span></small>
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex my-1 grid justify-content-center" style="--bs-columns: 10; --bs-gap: 1rem;">
    <div class="card text-center g-col-6" style="width: 1000px;">
      <div class="card-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">내용</button>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active my-4" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0" style="height:400px;">{{ review.content }}</div>
        </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
          <a href="{% url 'reviews:update' review.pk %}">
          <button class="btn btn-outline-primary mx-2" type="button">수정하기</button>
        </a>
        <a href="{% url 'reviews:update' review.pk %}">
          <button class="btn btn-outline-primary " type="button">삭제하기</button>
        </a>
      </div>
    </div>
    
  </div>

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f53687f99d0ba2cb683a2427e900bb2e"></script>
  <script>
    var container = document.getElementById('map');
    var options = {
      center: new kakao
        .maps
        .LatLng(33.450701, 126.570667),
      level: 4
    };
    var map = new kakao
      .maps
      .Map(container, options);
    var mapTypeControl = new kakao
      .maps
      .MapTypeControl();
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
    var zoomControl = new kakao
      .maps
      .ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
  </script>

{% endblock %}
