{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load django_bootstrap5 %}
<!-- <div style="background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url({% static 'images/review_index.jpg' %});

  {% load django_bootstrap5 %}
  <div style="background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url({% static 'images/review_index.jpg' %});

    diplay: flex;
    height: 320px;
    display: flex;
    justify-content:center;
    align-items: center;
        ">
    <h1 class="" style="color: rgb(255, 255, 255); font-weight: bold;">누구나 쉽게 일정을 계획할 수 있습니다.</h1>
</div> -->
<div class="container">
  <div class="content_header">
    <h2 class="my-5" style="text-align: center; font-weight: bold; font-size: 23px; color: rgb(79, 79, 79);">여행자들의
      일정보기</h2>
    <div class="clear" style="clear: both;"></div>
  </div>
  <div class="content_list" style="width:100; margin-left:103px;">
    <div class="content_list_left" style="float: left; width:50%;">
      <div style="color: #1a7ad9; float: left; font-size:16px; line-height:40px;cursor:pointer;">좋아요</div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div>
    <div class='d-flex justify-content-evenly row'>
      {% for review in reviews %}
      <div class="card col-4" style="width: 18rem;">
        {% if review.image %}
        <img src="{{ review.image.url }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {{ review.title }}</h5>
          <p class="card-text">{{ review.city }}
            |
            {{ review.like.all | length }}</p>
          <p class="card-text">{{ review.user }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <nav class="d-flex justify-content-center my-5" style="" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  {% endblock %}
  =======

  ">
  <h1 class="" style="color: rgb(255, 255, 255); font-weight: bold;">누구나 쉽게 일정을 계획할 수 있습니다.</h1>
</div>
<div class="container">
  <div class="content_header">
    <h2 class="my-5" style="text-align: center; font-weight: bold; font-size: 23px; color: rgb(79, 79, 79);">여행자들의 일정보기
    </h2>
    <div class="clear" style="clear: both;"></div>
  </div>
  <div class="content_list" style="width:100; margin-left:103px;">
    <div class="content_list_left" style="float: left; width:50%;">
      <div style="color: #1a7ad9; float: left; font-size:16px; line-height:40px;cursor:pointer;">좋아요</div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div>
    <div class='d-flex justify-content-evenly row'>
      {% for review in rewviews %}
      <div class="card col-4" style="width: 18rem;">
        {% if review.image %}
        <img src="{{ review.image.url }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            {{ review.title }}</h5>
          <p class="card-text">{{ review.city }}
            |
            {{ review.like }}</p>
          <p class="card-text">{{ review.user }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <nav class="d-flex justify-content-center my-5" style="" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  {% endblock %}
  >>>>>>> b5252b51d94c8c40cb67ff47674f22c46c287268