{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container d-flex justify-content-center py-5">
    <div class="card col-9 review-detail">
        <h1 class="text-center mt-5 mb-3 fs-3 fw-bold">Add City</h1>
        <div class="card-body">
            <form action="" method="POST" class="px-5 py-3" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form city_form %}
                <input type="submit" class="btn" value="submit">
            </form>

        </div>
    </div>
</div>
{% endblock content %}