{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="{% url 'places:inform' %}">여행지</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ city.name }}</li>
        </ol>
    </nav>
    <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide city-carousel col-9" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ city.image1.url }}" class="d-block w-100 h-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ city.image2.url }}" class="d-block w-100 h-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ city.image3.url }}" class="d-block w-100 h-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-3">
            <h2>{{ city.name }}날씨</h2>

            <!-- 날씨 템플릿 -->
            <!-- {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="날씨상태 아이콘"> 
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }} 
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %} -->
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="d-grid gap-2">
        <button class="btn btn-outline-dark" type="button"
            onclick="location.href='{% url 'places:createspot' city.name %}'">
            여행 장소 추가하기
        </button>
    </div>
    <h2 class="content-title text-center fw-bold"> {{city.name}}의 인기 관광지 BEST 3 <a class="fs-6"
            href="{% url 'places:allspots' city.name %}">더 보기</a></h2>
    <p class="content-sub-title text-center">{{city.name}}의 평점이 높은 관광지에 방문해 보세요!</p>
    <div class='d-flex justify-content-evenly row row-cols-12 best3'>
        {% for spot, star in spots %}
        <div class="card col-4 shadow mb-5 bg-body rounded" style="width: 18rem;">
            <img src="{{ spot.thumbnail.url }}" class="card-img-top index-card" alt="...">
            <div class="card-body d-flex flex-column align-items-center mb-3">
                <h5 class="card-title">{{ spot.title }}</h5>
                <p class="card-text">{{ spot.content }}</p>
                <p>평점 : <span class="text-warning">{{ star }}</span></p>
                <a href="{% url 'places:spot' city.name spot.pk %}" class="btn btn-outline-dark">여행 정보 바로가기</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class="content-title text-center">여행객들이 가장 많이 방문한 관광지 TOP3 </h2>
    <p class="content-sub-title text-center">{{city.name}}에서 가장 많이 방문한 관광지에 방문해 보세요!</p>
    <div class='d-flex justify-content-evenly row row-cols-12 best3'>
        {% for spot, visiters in visitspots %}
        <div class="card col-4 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="{{ spot.thumbnail.url }}" class="card-img-top index-card" alt="...">
            <div class="card-body d-flex flex-column align-items-center mb-3">
                <h5 class="card-title">{{ spot.title }}</h5>
                <p class="card-text">{{ spot.content }}</p>
                <p>방문객 수 : <span class="text-primary">{{ visiters }}</span></p>
                <a href="{% url 'places:spot' city.name spot.pk %}" class="btn btn-outline-dark">여행 정보 바로가기</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}