{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div style="
    background-image: url({% static 'images/inform_background.png' %});
    height : 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    ">
    <h1 class="main-title">Let's Go!
    </h1>
</div>
<div class="container">
  <h2 class="content-title text-center"> 여행지 </h2>
  <div class="card text-center bg-light">
    <h4>주요 도시 | 서울   부산   제주   경주   강릉   양평   속초   전주</h4>
  </div>
  <h2 class="content-title text-center"> 인기 여행지 TOP 3 </h2>
  <div class='d-flex justify-content-evenly row'>
      <div class="card col-4" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      <div class="card col-4" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
      <div class="card col-4" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
  </div>
</div>
{% endblock %}