{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'places:inform' %}">여행지</a></li>
        <li class="breadcrumb-item"><a href="{% url 'places:city' cityname %}">{{ cityname }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ spot.title }}</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide spot-carousel" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ spot.image.url }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="main-title-sub carousel-font carousel-title">{{ city.name }}</h5>
                    <p class="carousel-font">Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ spot.image.url }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="main-title-sub carousel-font carousel-title">Second slide label</h5>
                    <p class="carousel-font">Some representative placeholder content for the second slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h1 class="mt-5">{{ spot.title }}</h1>
    <br>
    <hr>
    <ul>
        <li>테마 : {{ spot.themes }}</li>
        <li>작성자 : {{ spot.user.nickname }}</li>
        <li>도시 : {{ spot.city.name }}</li>
    </ul>
    <hr>
    <p>{{ spot.content }}</p>
    <br>

    <div class="container p-5">
        <form action="{% url 'places:spotcomment' spot.city.name spot.pk %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-8">
                    {% bootstrap_field comment_form.content %}
                </div>
                <div class="col-2">
                    {% bootstrap_field comment_form.grade %}
                </div>
                <div class="col-2">
                    <input class="btn btn-small btn-success " type="submit">
                </div>

            </div>
        </form>
    </div>

</div>

{% endblock content %}