{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb mt-3">
            <li class="breadcrumb-item"><a href="{% url 'places:inform' %}">여행지</a></li>
            <li class="breadcrumb-item"><a href="{% url 'places:city' spot.city.name %}">{{ spot.city.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ spot.title }}</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide spot-carousel" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ spot.image.url }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block spot-font-bg">
                    <h5 class="main-title-sub carousel-font carousel-title text-start">{{ spot.title }}</h5>
                    <ul class="place-inform-lst d-flex justify-content-evenly carousel-font">
                        <li>
                            <span><span class="fw-bold">평점 ·</span>
                                <span>
                                    <span class="text-warning fw-bold">{{ star }}</span>
                                    <span class="small"> · {{ avg }}점 ({{ comments|length }}명 평가)</span>
                                </span>
                            </span>
                        </li>
                        <li><span class="fw-bold">도시 : </span><span>{{ spot.city.name }}</span></li>
                        <li><span class="fw-bold">테마 : </span><span>{{ spot.themes }}</span></li>
                        <li><span class="fw-bold">작성자 : <img
                                    style="margin:0 0.7rem 0.4rem 1rem; width:30px; overflow: hidden; height:30px;  border-radius: 100%; object-fit: cover;"
                                    src="{{ spot.user.profile_image.url }}" alt=""></span><span>
                                {{ spot.user.nickname }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="mt-5" style="font-size:1.4rem;">{{ spot.content }}</p>
    <br>
    {% if user == spot.user %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-sm btn-outline-secondary mx-2"
            href="{% url 'places:updatespot' spot.city.name spot.pk %}">수정</a>
        <a class="btn btn-sm btn-outline-danger mx-2" href="{% url 'places:deletespot' spot.city.name spot.pk %}">삭제</a>
    </div>
    {% endif %}
    <div class="container p-5">
        <i class="bi-chat-text p-2">댓글과 별점을 남겨보세요</i>
        <form action="{% url 'places:spotcomment' spot.city.name spot.pk %}" method="POST">
            {% csrf_token %}
            <div class="row d-flex justify-context-space-between">
                <div class="col-8 col-md-9 col-xl-10 align-middle">
                    {% bootstrap_field comment_form.content %}
                </div>
                <div class="col-3 col-md-2 col-xl-1 align-middle">
                    {% bootstrap_field comment_form.grade %}
                </div>
                <div class="col-1 align-middle">
                    <input class="btn btn-small btn-dark" type="submit">
                </div>
            </div>
        </form>
        <ul class="list-group list-group-flush rounded-5">
            {% for comment in comments %}
            <li class="list-group-item align-middle rounded-4 my-1 border shadow comment-card">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="text-black text-decoration-none"
                        href="{% url 'accounts:profile' comment.user.nickname %}">
                        <div class="card-text text-muted m-2 d-flex align-bottom">
                            {% if comment.user.profile_image %}
                            <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                                src="{{ comment.user.profile_image.url }}" alt="">
                            {% else %}
                            <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                                src="{% static 'images/logo.png' %}" alt="">
                            {% endif %}
                            <p class="pt-1 ps-1">{{ comment.user.nickname }}</p>
                        </div>
                    </a>
                    <p class="card-text text-muted pt-3">{{ comment.created_at }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center m-2">
                    <p class="">
                        {{ comment.content }}
                    </p>
                    <p class="text-warning fw-bold">
                        {% if comment.grade == 5 %}
                        ★★★★★
                        {% elif comment.grade == 4 %}
                        ★★★★
                        {% elif comment.grade == 3 %}
                        ★★★
                        {% elif comment.grade == 2 %}
                        ★★
                        {% else %}
                        ★
                        {% endif %}
                    </p>
                </div>
                <div class="d-flex justify-content-end">
                    {% if request.user == comment.user %}
                    <form action="{% url 'places:comment_delete' spot.city.name spot.pk comment.pk %}" method="POST">
                        {% csrf_token %}
                        <input
                            class="text-danger bg-white ms-3 mb-3 border-1 border-danger text-decoration-none rounded-2"
                            type="submit" value="삭제">
                    </form>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock content %}