{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'places:inform' %}">여행지</a></li>
            <li class="breadcrumb-item"><a href="{% url 'places:city' spot.city.name %}">{{ spot.city.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ spot.title }}</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide spot-carousel" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ spot.image.url }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="main-title-sub carousel-font carousel-title">{{ spot.city.name }}</h5>
                    <p class="carousel-font">Some representative placeholder content for the first slide.</p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="mt-5">{{ spot.title }}</h1>
    <br>
    <hr>
    <ul>
        <li>도시 : {{ spot.city.name }}</li>
        <li>테마 : {{ spot.themes }}</li>
        <li>작성자 : {{ spot.user.nickname }}</li>
        <li>
            <span>평점 ·
                <span class="text-warning fw-bold">{{ star }}</span>
                <span class="small"> · {{ avg }}점 ({{ comments|length }}명 평가)</span>
            </span>
        </li>
    </ul>
    <hr>
    <p>{{ spot.content }}</p>
    <br>

    <div class="container p-5">
        <i class="bi-chat-text p-2">댓글과 별점을 남겨보세요</i>
        <form action="{% url 'places:spotcomment' spot.city.name spot.pk %}" method="POST">
            {% csrf_token %}
            <div class="row d-flex justify-context-space-between">
                <div class="col-8 col-md-9 col-xl-10 align-middle">
                    {% bootstrap_field comment_form.content %}
                </div>
                <div class="col-3 col-md-2 col-xl-1 align-middle">
                    {% bootstrap_field comment_form.grade %}
                </div>
                <div class="col-1 align-middle">
                    <input class="btn btn-small btn-success " type="submit">
                </div>
            </div>
        </form>
        <ul class="list-group list-group-flush rounded-2">
            {% for comment in comments %}
            <li class="list-group-item align-middle">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text text-muted m-2">{{ comment.user.nickname }}</p>
                    <p class="card-text text-muted pt-3">{{ comment.created_at }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center m-2">
                    <p class="">
                        {{ comment.content }}
                    </p>
                    <p class="text-warning fw-bold">
                        {% if comment.grade == 5 %}
                        ★★★★★
                        {% elif comment.grade == 4 %}
                        ★★★★
                        {% elif comment.grade == 3 %}
                        ★★★
                        {% elif comment.grade == 2 %}
                        ★★
                        {% else %}
                        ★
                        {% endif %}
                    </p>
                </div>
                <div class="d-flex justify-content-end">
                    {% if request.user == comment.user %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input class="text-danger bg-white ms-3 border-1 border-danger text-decoration-none rounded-2"
                            type="submit" value="삭제">
                    </form>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}