{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}

<div class="container d-flex flex-column align-items-center py-3">
    <div class="card mt-5 mb-4 border border-black ">
        <div class="card-header border border-black text-black opacity-75">
            <h5 class="fs-3 fw-bold text-center my-1">
                {{ person.nickname }}님의 프로필
            </h5>
        </div>
        <div class="card-body d-flex justify-content-center row row-col-md-2 p-3 row-col-1">
            <div class="col-md-5 col-6 text-center">
                {% if person.profile_image %}
                <img class="w-100" src="{{ user.profile_image.url }}" alt="">
                {% endif %}
            </div>
            <div class="col py-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item py-md-4 py-2">
                        <h5 class="bi bi-envelope-fill me-2">
                            {{ person.email }}
                        </h5>

                    </li>
                    <li class="list-group-item py-md-4 py-2">
                        <h5 class="bi bi-person-fill me-2">
                            {{ person.name }}
                        </h5>
                    </li>
                    <li class="list-group-item py-md-4 py-2">
                        <h5 class="bi bi-people-fill me-2">
                            팔로잉 : {{ person.followings.all|length }} / 팔로워 : {{ person.followers.all|length }}
                        </h5>
                    </li>

                    <li class="list-group-item py-md-4 py-2 d-flex justify-content-end">
                        {% if request.user != person %}
                        <form action="{% url 'accounts:follow' person.pk %}" method="POST">
                            {% csrf_token %}
                            {% if request.user in person.followers.all %}
                            <input class="btn btn-primary ms-2" type="submit" value="Unfollow">
                            {% else %}
                            <input class="btn btn-danger ms-2" type="submit" value="Follow">
                            {% endif %}
                        </form>
                        {% else %}
                        <a class="btn btn-success" href="{% url 'accounts:update' %}" role="button">회원정보 수정</a>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
        <div class="text-center m-3">
            <a class="text-decoration-none text-secondary" href="">
                {% if request.user == person %}
                <h5>내 리뷰 보러가기</h5>
                {% else %}
                <h5>{{ user.nickname }}님의 리뷰 보러가기</h5>
                {% endif %}
            </a>

        </div>
    </div>

</div>
{% endblock content %}