/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Oswald', sans-serif;     _ 깔끔 두껍
font-family: 'Permanent Marker', cursive;     _ 자유로운 느낌 , 두껍
*/
@media (max-width: 1100px) {
  /*화면이 작을때 */
  .navbar-large {
    display: none;
  }
}
@media (min-width: 1100px) {
  /*화면이 클때 */
  .navbar-small {
    display: none;
  }
}

*{
  font-family: 'Noto Sans KR', sans-serif;
}

a{
  text-decoration: none;
  color:rgb(71, 71, 71);
}
.card-text {
  overflow: hidden;
  white-space: normal;
  line-height: 1.2;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.navbar {
  background:linear-gradient(to top, rgba(255, 255, 255, 0.859), rgba(255, 255, 255, 0.96),rgba(255, 255, 255, 0.992));
  position: sticky;
  top:0;
  z-index:10;
}

.nav-font {
  font-size: 1.4rem;
  font-weight: 700;
  margin:0 0.7rem 0 0.7rem;
}

.nav-center{
  margin: 0 5rem 0 5rem;
}

.nav-item-center{
  margin : 0 2rem 0 2rem;
}

.navbar-hover-list {
  width:515.7px;
  margin:96px 0 96px 0;
  list-style: none;
  margin-top: 3rem;
  font-weight: 700;
  z-index: 1;
}
.navbar-hover-list-item {
  padding-top: 0.8rem;
  font-size: 1.2rem;
}

.navbar-hover-list-item-line {
  width: 10rem;
}

.hvr_1_list{
  padding-left: 35%;
}

.hvr_2_list{
  padding-left: 35%;
}

.hvr_hide {
  background:linear-gradient(to top, rgba(255, 255, 255, 0.694), rgba(255, 255, 255, 0.744),rgb(255, 255,255, 0.859));
  position: fixed;
  top:5rem;
  left: 0;
  /* display:none; */
  visibility: hidden;
  width: 100vw;
  padding-bottom: 2rem;
  height: 0vh;
  margin-top: 10px;
  /* background-color: white; */
  transition: all 0.15s;
}
.hvr_1:hover .hvr_1_list {
  visibility: visible;
  height: 20vh;
}
.hvr_2:hover .hvr_2_list {
  visibility: visible;
  height: 20vh;
}

.main-title {
  font-family: 'Permanent Marker', cursive;
  font-size :6rem;
  font-weight: 500;
  text-align: center;
  color:rgb(255, 255, 255);
}

.main-title-sub {
  font-family: 'Oswald', sans-serif;
  font-size :2rem;
  font-weight: 550;
  text-align: center;
  color:rgb(255, 255, 255);
}

.content-title {
  font-family: 'Oswald', sans-serif;
  margin: 5rem 0 1rem 0;
  font-size :2rem;
  font-weight: 600;
  text-align: center;
  color:rgb(0, 0, 0);
}

.content-sub-title{
  color:gray;
  margin-bottom: 3rem;
}

.index-card {
  width:100;
  margin-top: 0.7rem;
}

.card-img-top:hover{
  transform: scale(1.1);
  transition-duration: 3s;
}

.carousel-font {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 2rem;
}

.carousel-title {
  font-size: 3rem;
}

.best3 {
  overflow: hidden;
}

.choice-place{
  height:5rem;
}