*{
  font-family: 'Noto Sans KR', sans-serif;
}
.navbar {
  position: sticky;
  top:0;
  z-index:10;
}
.main-title {
  font-family: 'Oswald', sans-serif;
  font-size :5rem;
  font-weight: 800;
  text-align: center;
  color:rgb(0, 0, 0);
}
.main-title-sub {
  font-family: 'Oswald', sans-serif;
  font-size :2rem;
  font-weight: 550;
  text-align: center;
  color:rgb(0, 0, 0);
}
.content-title {
  margin: 4rem 0 3rem 0;
  font-size :2rem;
  font-weight: 550;
  text-align: center;
  color:rgb(0, 0, 0);
}

.index-card {
  width:100;
  margin-top: 0.7rem;
}