{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/community_style.css' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0" />
<div style="
    background-image: url({% static 'images/community_background.png' %});
    height : 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    ">

    <h1 class="main-title" id="main-title">Community
    </h1>
</div>
<div class="container">
    <div class="content pb-1 pt-0">
        <div class="container">
            <h1 class="text-center fw-bold content-title">커뮤니티</h1>
            <p class="mb-5 text-center text-secondary content-sub-title">질문, 여행, 자유주제 등 자유롭게 글을 올려보세요</p>
            <div class="d-grid gap-2 my-5">
                <button class="btn btn-outline-dark mt-5" type="button"
                    onclick="location.href='{% url 'articles:com_create' %}'">
                    <span class="material-symbols-outlined fs-6 fw-bold">
                        border_color글쓰기
                    </span>
                </button>
            </div>
            <div class="table-responsive border boder-1 rounded-1 p-2 d-none d-md-block">
                <table class="table custom-table text-center">
                    <thead>
                        <tr>
                            <th scope="col-1">글 번호</th>
                            <th scope="col-1">작성자</th>
                            <th scope="col-8">글 제목</th>
                            <th scope="col-2">카테고리</th>
                            <th scope="col-2">작성일</th>
                        </tr>
                    </thead>
                    {% for com in coms %}
                    <tbody>
                        <tr scope="row">
                            <td>
                                {{ com.pk }}
                            </td>
                            <td>{{ com.user.nickname }}</td>
                            <td>
                                <a class="link-secondary" href="{% url 'articles:com_detail' com.pk %}">
                                    {{ com.title|truncatechars:15 }}</a>

                                <small class="d-block">{{ com.content|truncatechars:15 }}</small>
                            </td>
                            <td>{{ com.category }}</td>
                            <td>{{ com.created_at|date:'Y-m-d H:i' }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="d-md-none d-flex justify-content-center row">
                {% for com in coms %}
                <div class="border border-2 rounded-2 p-4 m-4 col-12">
                    <div class="card-body">
                        <a href="{% url 'articles:com_detail' com.pk %}" class="link-secondary">
                            <h5 class="card-title my-3 fw-bold">{{ com.title|truncatechars:15 }}</h5>
                        </a>

                        <h6 class="card-subtitle mb-3 text-muted">{{ com.content|truncatechars:15 }}</h6>
                        <p class="card-text">작성자 : {{ com.user.nickname }}</p>
                        <p class="card-text">카테고리 : {{ com.category }}</p>
                        <p class="card-text">no.{{ com.pk }}</p>
                        <p class="card-text">{{ com.created_at|date:'Y-m-d H:i' }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center" style="margin-top:70px;">
        <!-- 이전페이지 -->
        {% if pageboard.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pageboard.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in pageboard.paginator.page_range %}
        {% if page_number >= pageboard.number|add:-5 and page_number <= pageboard.number|add:5 %} <li
            class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if pageboard.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ pageboard.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock content %}