{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
<div class="container d-flex justify-content-center my-5">
    <div class="review-detail p-5 rounded-4 shadow-lg col-10">
        <h2 class="text-black mb-5">{{ com.title }}</h2>
        <div class="d-flex justify-content-between">
            <a class="mb-0 pt-1 text-secondary" href="{% url 'accounts:profile' com.user.nickname %}">

                {% if com.user.profile_image %}
                <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                    src="{{ com.user.profile_image.url }}" alt="">
                {% else %}
                <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                    src="{% static 'images/logo.png' %}" alt="">
                {% endif %}
                {{ com.user }}
            </a>
            {% if request.user == com.user %}
            <div>
                <a href="{% url 'articles:com_update' com.pk %}" class="btn btn-sm btn-outline-dark">수정</a>
                <a href="{% url 'articles:com_delete' com.pk %}" class="btn btn-sm btn-outline-danger">삭제</a>
            </div>
            {% endif %}
        </div>
        <i></i>
        <hr>
        <div class="d-flex justify-content-between align-middle">
            <p class="text-secondary">카테고리 : {{ com.category }}
            </p>
            {% if com.created_at == com.updated_at %}
            <p class="text-secondary">작성일 : {{ com.created_at|date:'Y-m-d' }}</p>
            {% else %}
            <p class="text-secondary">작성일 : {{ com.updated_at|date:'Y-m-d' }}
                (수정됨)</p>
            {% endif %}
        </div>
        <hr class="mt-0">
        <p class="text-black">{{ com.content }}</p>
        <div class="text-end">
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'articles:community' %}">뒤로</a>
        </div>
        <hr>
        <div class="">
            <form action="{% url 'articles:com_comment' com.pk %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-10">
                        {% bootstrap_form comment_form %}
                    </div>
                    <div class="col-2">
                        <input class="btn btn-outline-success" type="submit" value="댓글달기">
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <h5 class="text">댓글 ({{ comments|length }})</h5>
        <hr>
        <ul class="list-group list-group-flush rounded-2">
            {% for comment in comments %}
            <li class="list-group-item align-middle">
                <div class="d-flex justify-content-between align-items-center">
                    <a class="card-text text-muted m-2" href="{% url 'accounts:profile' comment.user.nickname %}">
                        {% if comment.user.profile_image %}
                        <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                            src="{{ comment.user.profile_image.url }}" alt="">
                        {% else %}
                        <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                            src="{% static 'images/logo.png' %}" alt="">
                        {% endif %}
                        {{ comment.user.nickname }}
                    </a>
                    <p class="card-text text-muted pt-3">{{ comment.created_at|date:'Y-m-d' }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center m-2">
                    <p class="">
                        {{ comment.content }}
                    </p>
                    {% if request.user == comment.user %}
                    <form action="{% url 'articles:co_delete' com.pk comment.pk %}" method="POST">
                        {% csrf_token %}
                        <input class="text-danger bg-white ms-3 border-1 border-danger text-decoration-none rounded-2"
                            type="submit" value="삭제">
                    </form>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}