{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0" />
<div class="d-flex justify-content-center align-items-center flex-column"
    style="background-image: url({% static 'images/index_background.png' %}); height:320px;">
    <h1 class="main-title-sub" id="main-title-sub">나만의 여행 이야기</h1>
    <h1 class="main-title pb-2" id='main-title'>Trip Story</h1>
    <div class="container row d-flex justify-content-center">
        <div class="col-10 col-md-8">
            <form class="d-flex row" role="search" method="GET" action="{% url 'articles:search' %}">
                {% csrf_token %}
                <input class=" form-control col mx-1 search-block search" type="search" placeholder="지역, 여행일정을 검색해보세요"
                    name="search" aria-label="Search">
                <button class="btn btn-light col-3 col-lg-2 col-xl-1 mx-1 search" type="submit">검색</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="content-title text-center fw-bold"> 트립 스토리에서 여행을 시작하세요!</h2>
    <p class="content-sub-title text-center">여행 정보, 리뷰, 커뮤니티 모두 한 번에</p>
    <div class='d-flex justify-content-evenly row'>
        <div class="card index-card col-4 shadow p-0 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="{% static 'images/places_inform.png' %}" class="card-img-top" alt="..." height="285px">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">여행 정보</h5>
                <p class="card-text">지역의 명소를 확인하세요</p>
                <a href="{% url 'places:inform' %}" class="btn btn-outline-dark">여행 정보 바로가기</a>
            </div>
        </div>
        <div class="card index-card col-4 shadow p-0 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="{% static 'images/places_review.png' %}" class="card-img-top" alt="..." height="285px">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">여행 리뷰</h5>
                <p class="card-text">나의 여행 리뷰를 만들어 보세요</p>
                <a href="{% url 'reviews:index' %}" class="btn btn-outline-dark">여행 리뷰 바로가기</a>
            </div>
        </div>
        <div class="card index-card col-4 shadow p-0 mb-5 bg-body rounded" style="width: 18rem;" height="285px">
            <img src="{% static 'images/community.png' %}" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title">커뮤니티</h5>
                <p class="card-text">커뮤니티에서 소통을 해요</p>
                <a href="{% url 'articles:community' %}" class="btn btn-outline-dark">커뮤니티 바로가기기</a>
            </div>
        </div>
    </div>
    <h2 class="content-title text-center"> 인기 여행 일정 </h2>
    <p class="content-sub-title text-center">다른 여행자들의 일정을 참고해 나만의 여행을 계획해보세요!</p>

    <div class='d-flex justify-content-evenly row'>
        {% for review in reviews %}
        <div class="col-6 col-lg-4 col-xl-3 my-3">
            <div class="card inform-card" style="box-shadow: 1px 3px 5px 0px;">
                <div style="  z-index: 1;position: absolute; top:145px; left: 15px;">
                    <span class="text-white fw-bold small" style="top: 15px;">
                        {{ review.start_day|date:'Y-m-d' }}~{{ review.end_day|date:'Y-m-d' }}
                </div>
                <span style=" font-size: 20px; color:white; top:165px; left: 15px; position:absolute; z-index: 1;">
                    {{ review.title }}</span>
                <!-- 리뷰 이미지 -->

                <a href="{% url 'reviews:detail' review.pk %}">
                    {% if review.image %}
                    <img style="filter: brightness(70%); object-fit: cover; width: 100%; height: 200px; z-index:0; "
                        src="{{ review.image.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img style="filter: brightness(70%); object-fit: cover; width: 100%; height: 200px; z-index:0; "
                        src="{% static 'images/base_review.jpg' %}" class="card-img-top" alt="...">
                    {% endif %}
                </a>

                <div class="card-body">
                    <div>
                        <!-- 좋아요 수정중 -->
                        <p class="text-danger material-symbols-outlined">
                            favorite
                            <span class="text-black"
                                style="position: absolute; font-size: 16px; margin-left: 02px; margin-top:2.5px;">
                                {{ review.like.all | length }}</span>
                        </p>
                    </div>
                    <h5 class="card-title" style="font-size:15px; color: grey;">{{ review.subtitle }}
                    </h5>
                    <h5 class="card-title" style="font-size:15px; color: grey;">{{ review.city }}</h5>
                    <!-- 
                    1. 리뷰 작성자가 프로필 이미지가 없는 경우 기본 이미지 처리 
                    2. 리뷰 클릭시 조회수 +기능 추가
                    3. 프로필 닉네임 프로필페이지에 연결
                -->
                    <div class="text-muted d-flex justify-content-between" style="font-size:15px; color: grey;">
                        <div class="user_info">
                            <a class="text-black" href="{% url 'accounts:profile' review.user.nickname %}">
                                {% if review.user.profile_image %}
                                <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                                    src="{{ review.user.profile_image.url }}" alt="">
                                {% else %}
                                <img style="width:2rem; overflow: hidden; height:2rem;  border-radius: 100%; object-fit: cover;"
                                    src="{% static 'images/logo.png' %}" alt="">
                                {% endif %}
                                {{ review.user.nickname }}
                            </a>
                        </div>
                        <span>조회수:{{ review.hits }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}