{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container text-center py-5">
    {% if spots %}
    <h2 class="text-center mb-5">"{{ search }}"에 대한 장소 검색결과</h2>
    <div class='d-flex justify-content-evenly row row-cols-12 best3'>
        {% for spot in spots %}
        <div class="card col-4 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="{{ spot.thumbnail.url }}" class="card-img-top index-card" alt="...">
            <div class="card-body d-flex flex-column align-items-center mb-3">
                <h5 class="card-title">{{ spot.title }}</h5>
                <p class="card-text">{{ spot.content }}</p>
                <a href="{% url 'places:spot' spot.city.name spot.pk %}" class="btn btn-outline-dark">여행 정보 바로가기</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="text-center mb-5">"{{ search }}"에 대한 검색결과가 없습니다.</h2>
    <p class="text-center mb-5">다른 검색어를 입력해보세요!</p>
    {% endif %}

</div>
{% endblock content %}